<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.haulmont.addon.admintools"/>

    <bean id="admintools_MBeanExporter" lazy-init="false"
          class="com.haulmont.cuba.core.sys.jmx.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="${cuba.webContextName}.cuba-at:type=TomcatCore"
                       value-ref="cuba-at_TomcatCoreMBean"/>
            </map>
        </property>
    </bean>

    <bean id="ddcrd_SqlSelectResultFactory" class="com.haulmont.addon.admintools.core.db.ExtendedSqlSelectResultFactoryBean"/>

</beans>
